{% extends "../base/base.html" %}

{% block title %}Intake streams{% endblock title %}

{% block content_outlet %}

<div class="d-flex justify-content-between align-items-center border-bottom my-3">
    <h3>Streams of {{ intake_class.class_code }} </h3>
    <button class="btn btn-primary btn-sm" type="button" aria-label="Add" data-bs-toggle="modal" data-bs-target="#add-intake-class-modal">Add Stream</button>
</div>


<!-- table -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Intake stream code</th>
            </tr>
        </thead>

        <tbody>
            {% for stream in intake_streams %}
            <tr>
                <td> <a href="{% url "university:intake_classes:streams:detail" class_pk=stream.intake_class.pk stream_pk=stream.pk %}">{{ stream.stream_code }}</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- add modal -->
<div class="modal fade" id="add-intake-class-modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post">

                {% include "../base/modal-header.html" %}

                <div class="modal-body">

                    <div class="form-section">
                        <table class="table table-borderless">
                            <tbody>
                                {% csrf_token %}

                                {{ form.as_table }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    {% include "../base/form-btns.html" %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content_outlet %}
