{% extends "../base/base.html" %}

{% block title %}Intake stream{% endblock title %}

{% block content_outlet %}


<div class="row row-cols-md-2 row-cols-1">
    <div class="col-md-8 col-12">
        <h3 class="alert alert-secondary border-bottom border-dark-subtle rounded-0"> Intake stream detail</h3>

            <form action="" method="post" class="form-section">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            {{ form.as_table }}
                        </tbody>
                    </table>
                </div>

                {% include "../base/form-btns.html" %}
            </form>
        </div>
    <div class="col-md-4 col-12">
        <h4>Actions&colon;</h4>

        <div class="actions-container d-flex gap-3 flex-row">
            <a href="{% url 'university:intake_classes:streams:delete' class_pk=stream.intake_class.pk stream_pk=stream.pk %}" class="btn btn-danger btn-sm">Delete</a>

            {% if stream.timetable_set.count < 1 %}

            <a href="{% url 'university:timetables:add_timetable' stream.pk %}" class="btn btn-sm btn-primary">Add timetable</a>

            {% else %}

            <a href="{% url 'university:timetables:list' stream.pk %}" class="btn btn-primary btn-sm">View timetables</a>
            
            {% endif %}
        </div>            
                
                            
        </form>
    </div>
</div>

{% endblock content_outlet %}
