{% extends "../base/base.html" %}

{% block title %}Intake class{% endblock title %}

{% block content_outlet %}


<div class="row row-cols-md-2 row-cols-1">
    <div class="col-md-8 col-12">
        <h3 class="alert alert-secondary border-bottom border-dark-subtle rounded-0"> Intake class: {{ intake_class.class_code }} </h3>

            <form action="" method="post" class="form-section">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            {{ form.as_table }}
                        </tbody>
                    </table>
                </div>

                {% include "../base/form-btns.html" %}
            </form>
        </div>
    <div class="col-md-4 col-12">
        <h4>Actions&colon;</h4>

        <div class="actions-container">
            <button class="btn btn-danger btn-md">Delete</button>

            <div class="mt-4">
                <h6>Available streams</h6>
                    <div class="table-responsive">
                    <table class="table table-striped">
                         <tbody>
                            {% for stream in intake_class.streams.all %}

                            <tr>
                                <td> 
                                    <a href="{{ stream.get_absolute_url }}">{{ stream.stream_code }}</a>
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock content_outlet %}
