{% extends "../base/base.html" %}

{% block title %}Lecturers{% endblock title %}

{% block content_outlet %}

<div class="d-flex justify-content-between align-items-center border-bottom my-3">
    <h3>Lecturers</h3>
    <button class="btn btn-primary btn-sm" type="button" aria-label="Add" data-bs-toggle="modal" data-bs-target="#add-lecturer-modal">Add lecturer</button>
</div>


<!-- table -->
<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Full name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            {% for lecturer in lecturers %}
            <tr>
                <td><img src="{{ lecturer.avatar }}" alt="{{ lecturer.full_name }}"></td>
                <td> 
                    <a href="{{ lecturer.get_absolute_url }}">{{ lecturer.full_name }}</a>
                </td>
                <td> {{ lecturer.email }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- add modal -->
<div class="modal fade" id="add-lecturer-modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post">

                {% include "../base/modal-header.html" %}

                <div class="modal-body">

                    <div class="form-section">
                        <table class="table table-borderless">
                            <tbody>
                                {% csrf_token %}

                                {{ form.as_table }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    {% include "../base/form-btns.html" %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content_outlet %}
